//estilos repetidos en todas las paginas.

//colores
$colorFondoTitulo: #EE9898;
$colorLetrasTitulo: white;
$colorFondoFooter: #faebd7;
$colorFondoLogFooter: #EE9898;
$colorLetraFooter: #B1ACAC;
$colorLogoFooter: white;
$colorFondoNavHover:#F3D0D0;

//letra
$tipoDeLetra: cursive;

//ancho
$anchoConPx: 500px;
$anchoConPorcentaje: 100%;
$anchoAuto: auto;




