@import "partials/pages";
@import "partials/index";
@import "partials/quienSoy";
@import "partials/contacto";
@import "partials/productos";
@import "partials/puntoDeVenta";
@import "variables/mixins";

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.body{
    background-image:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(../img/fondonuevo.jpg);
    height: $altoAuto;
    background-repeat: no-repeat;
    background-size: cover;
    font-family:$tipoDeLetra;
    
    display: grid;

}
/*--INDEX--*/
.section{
    grid-area: section;
}
.contenedor{
    grid-area: contenedor;
}

.contenedor-logo{
    @include flex;
    flex-direction: column;
    img {
        width: ($anchoConPorcentaje/10);
        @include border (50%);
    }
    h1{
        @include alingTex;
        width: $anchoConPorcentaje;
        height: $altoConPx/10 ;
        background-color: $colorFondoTitulo;
        color: $colorLetrasTitulo;
        font-size: 2rem;
        @include margin(20px,5px,0px,0px);
        @include padding(5px,0px,0px,0px);
    }    
}


aside {
    @include margin (40px,0px,0px,0px);
    @include padding (10px,10px,10px,10px);
    background-color: $colorFondoAside;
    h2 {
        font-size: 20px;
        font-family: $tipoDeLetra;
        @include alingTex;
        color: $colorLetraTituInicio;
        background-color: $colorFondoTituInicio;
        padding: 8px;
    }
    p {
        font-size: 18px;
        color: $colorLetraParrafo;
        font-family: $tipoDeLetra;
    }
}
.nav-item a:hover {
    background-color: $colorFondoNavHover;
}

/*AQUI QUIEN SOY*/
#texto {
    @include margin(3%,0,0,0);
    background: linear-gradient(transparent , $colorGradientFondoCuadro ,transparent );
}
#titulo {
    @include alingTex;
    font-size: 35px;
    color: $colorLetraTituQuienS;
    text-decoration: underline currentColor ;
    grid-area: titulo;
}
#parrafo {
    @include alingTex;
    color: $colorLetraParrafoQuienS;
    @include margin(1%,0,0,0);
    font-size: 23px;
    grid-area: parrafo;
}

/*AQUI PUNTO DE VENTA*/
#ubicacion {
    width: ($anchoConPx/5)*4 ;
    height: ($altoConPx)-100px ;
    @include margin(2%,2%,35%,0);
}
.subtitu {
    @extend #ubicacion;
    background: $colorFondoTituloUbi ;
    color: $colorLetraTituloUbi ;
    font-size: 22px;
    @include alingTex;
}

/*AQUI PRODUCTOS*/
#title {
    background: $colorFondoTituloProductos;
    color: $colorLetraTituloProductos;
    @include margin(8%,0,0,0);
    font-size: 35px;
    @include alingTex;
}


/*footer*/

//    MAP
$footer:(
    f-wrap: wrap,
    just-cont: space-evenly,
    color:$colorFondoFooter,
    colorLetras: $colorLetraFooter,
    colorFondLog:$colorFondoLogFooter,
    colorLog:$colorLogoFooter,
);

.footer{
    @include flex;
    @include margin(30px,0,0,0);
    justify-content: map-get($footer,just-cont);
    flex-wrap: map-get($footer,f-wrap);
    width: $anchoConPorcentaje;
    height: ($altoConPx)-150px;
    background-color: map-get($footer,color);

    grid-area: footer;

}
-----logosCard-------
.footer-pagos{
    width: $anchoConPorcentaje/5 ;
    color: map-get($footer,colorLetras);

    grid-area: pagos;
    h3{
        font-size: 1.5rem;
        @include alingTex;
    }
    ul{
        @include flex;
        flex-direction: row;
        justify-content: map-get($footer,just-cont);
        @include margin(30px,0,0,0);
        li{
            list-style: none;
            @include border (50%);
            background-color: map-get($footer,colorFondLog);
            width: ($anchoConPx/10)+10;
            height: ($altoConPx)-340px;
            justify-content: center;
            @include flex;
            a{
                font-size: 2rem;
                color: map-get($footer,colorLog);
            }
        }
    }
}

---logosRedes-------

.footer-redes{
    height: $altoAuto;
    width: $anchoConPorcentaje/5;
    color: map-get($footer,colorLetras);

    grid-area: redes;
    h3{
        font-size: 1.5rem;
        @include alingTex;
    }
    ul{
        @include flex;
        flex-direction: row;
        justify-content: map-get($footer,just-cont);
        @include margin(30px,0,0,0);
        li{
            @include flex;
            list-style: none;
            @include border (50%);
            background-color: map-get($footer,colorFondLog);
            width: ($anchoConPx/10);
            height: ($altoConPx)-350px;
            justify-content: center;
            a{
                font-size: 2rem;
                color: map-get($footer,colorLog);
                transition: .5s;
                &:hover{
                    transform: scale(1.2);
                }
            }
        }
    }
}
.footer-redes ul li a:hover{
    transform: scale(1.2);
}

---logosNumber-------

.footer-number{
    color: map-get($footer,colorLetras);
    font-size: 1.5rem;

    grid-area: num;
}

/*=========MEDIAQUERIES=======*/

@media screen and (min-width:320px) {
.body{
    grid-template-columns: auto auto auto;
    grid-template-rows: auto  auto auto;
    grid-template-areas: 
        "contenedor contenedor contenedor"
        "section section section"
        "footer footer footer";
}

/*INDEX*/
.contenedor-logo {
    img{
        width: ($anchoConPx/5)-10;
    }
    h1{
        margin: 3px;
        font-size: 20px ;
    }
}

/*CONTACTO*/
.title-form {
    display:inline-block;
    @include alingTex;
    @include margin(12%,0,10%,10%);
    background-color: $colorFondoTituloContacto;
    color: $colorLetraTituloContacto;
    font-size: 20px;
}
label {
    @include margin(1%,0,0,0);
}

/*QUIÉN SOY*/
#texto {
    border: 3px solid $colorBordeCuadro;
    display: grid ;
    grid-template-columns: auto;
    grid-template-rows: 2fr 4fr;
    grid-template-areas: "titulo" "parrafo";
    width: ($anchoConPorcentaje)-20;
    @include margin(0,0,10%,0);
    padding: 3%;
}

/*====UBICACION=====*/
#ubicacion{
    width: ($anchoConPorcentaje)-10;
    height: ($altoConPorcentaje)-20%;
    margin: auto;
    overflow: hidden;
    .iframe{
        width: $anchoConPorcentaje;
        height: $altoConPorcentaje;
        iframe{
            width: $anchoConPorcentaje;
            height: $altoConPorcentaje;
        }
    }
}





/*footer*/
.footer{
    height: ($altoConPx)-100px;
    color: $colorLetraFooter;
    @include margin(0,50px,0,0);
    display: grid;
    grid-auto-columns: repeat(1,1fr);
    grid-template-rows:repeat(3,1fr);
    grid-template-areas: 
        "num "
        "pagos "
        "redes ";
        ul{
            @include margin(5px,0,0,0);
            li{
                width: ($anchoConPx/10)-20 ;
                height: ($altoConPx)-370px;
                a{
                    font-size: 15px;
                }
            }
        }
}

//logos pagos

.footer-pagos{
    width: $anchoAuto;
    color: $colorLetraFooter;

    grid-area: pagos;
    h3{
        font-size: 1.5rem;
        @include alingTex;
    }
    ul{
        @include flex;
        flex-direction: row;
        justify-content: space-evenly;
        @include margin(30px,0,0,0);
        li{
            list-style: none;
            @include border (50%);
            background-color: $colorFondoLogFooter;
            width: ($anchoConPx/10)-10;
            height: ($altoConPx)-360px;
            justify-content: center;
            @include flex;
            a{
                font-size: 1rem;
                color: $colorLogoFooter;
            }
        }
    }
}

//logos redes

.footer-redes{
    height: $altoAuto;
    width: $anchoAuto;
    color: $colorLetraFooter;

    grid-area: redes;
    h3{
        font-size: 1.5rem;
        @include alingTex;
    }
    ul{
        @include flex;
        flex-direction: row;
        justify-content: space-evenly;
        @include margin(30px,0,0,0);
        li{
            @include flex;
            list-style: none;
            @include border (50%);
            background-color: $colorFondoLogFooter;
            width: ($anchoConPx/10)-20;
            height: ($altoConPx)-360px;
            justify-content: center;
            a{
                font-size: 1rem;
                color: $colorLogoFooter;
                transition: .5s;
                &:hover{
                    transform: scale(1.2);
                }
            }
        }
    }
}
.footer-number p{
    @include alingTex;
}

/*PRODUCTOS*/
#title {
    @include margin(12%,0,0,0);
    font-size: 20px;
}
}


/*========================================================*/
/*========================================================*/
/*========================================================*/
/*========================================================*/


@media  screen and (min-width:1000px) {
.contenedor-logo{
    @include margin(20px,0,0,0);
    img {
        width: ($anchoConPx/5)+50px ;
    }
}

/*QUIÉN SOY*/
#texto {
    border: 5px solid $colorBordeCuadro;
    display: grid ;
    grid-template-columns: auto;
    grid-template-rows: 2fr 4fr;
    grid-template-areas: "titulo" "parrafo";
    width: ($anchoConPorcentaje/2)+30% ;
    @include margin(0,0,20%,0);
    padding: 3%;
}

/*CONTACTO*/
.title-form {
    display:inline-block;
    @include alingTex;
    @include margin(8%,0,25%,0);
    background-color: $colorFondoTituloContacto;
    color: $colorLetraTituloContacto;
    font-size: 30px;
}
label {
    @include margin(1%,0,0,0);
}

/*footer*/
.footer{
    @include flex;
    @include margin(30px,0,0,0);
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: $anchoConPorcentaje;
    height: ($altoConPx)-270px ;
    background-color: $colorFondoFooter;
}
/*logosCard-------*/
.footer-pagos{
    width: ($anchoConPorcentaje/5) ;
    color: $colorLetraFooter;
    h3{
        font-size: 1.5rem;
        @include alingTex;
    }
    ul{
        @include flex;
        flex-direction: row;
        justify-content: space-evenly;
        @include margin(30px,0,0,0);
        li{
            @include flex;
            list-style: none;
            @include border (50%);
            background-color: $colorFondoLogFooter;
            width: ($anchoConPx)-440px ;
            height: ($altoConPx)-340px;
            justify-content: center;
            a{
                font-size: 2rem;
                color: $colorLogoFooter;
            }
        }
    }
}

/*logosRedes-------*/
.footer-redes{
    height: $altoAuto;
    width: $anchoConPorcentaje/5 ;
    color: $colorLetraFooter;
    h3{
        font-size: 1.5rem;
        @include alingTex;
    }
    ul{
        @include flex;
        flex-direction: row;
        justify-content: space-evenly;
        @include margin(30px,0,0,0);
        li{
            @include flex;
            list-style: none;
            @include border (50%);
            background-color: $colorFondoLogFooter;
            width: ($anchoConPx/10) ;
            height: ($altoConPx)-350px;
            justify-content: center;
            a{
                font-size: 2rem;
                color: $colorLogoFooter;
                transition: .5s;
                &:hover{
                    transform: scale(1.2);
                }
            }
        }
    }
}

/*logosNumber-------*/
.footer-number {
    color: $colorLetraFooter;
    font-size: 1.5rem;
}

#ubicacion{
    width: ($anchoConPorcentaje/2);
    height:($altoConPorcentaje)-20%;
    margin: auto;
    overflow: hidden;
    .iframe{
        width: $anchoConPorcentaje;
        height: $altoConPorcentaje;
        iframe{
            width: $anchoConPorcentaje;
            height: $altoConPorcentaje;
        }
    }
}
}