@import "partials/pages";
@import "partials/index";
@import "partials/quienSoy";
@import "partials/contacto";
@import "partials/productos";
@import "partials/puntoDeVenta";
@import "variables/mixins";

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.body{
    background-image:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(../img/fondonuevo.jpg);
    height: $altoAuto;
    background-repeat: no-repeat;
    background-size: cover;
    font-family:$tipoDeLetra;
    
    display: grid;
}

.conte-pages{
    @include margin(10%,10%,0,0);
}

/*--NAV--*/
nav{
    background-color: $colorLetrasTitulo;
    @include margin (5px,0,0,0);
    div{
        div{
            .cuadro-position{
                border:solid 1px $colorNavyAside;
            }
            .navbar-brand{
                color: $colorNavyAside;
            }
            .navbar-brand:hover{
                background-color: $colorFondoNavHover;
                color: $colorLetrasTitulo;
            }
        }
        div{
            ul{
                li{
                    .nav-link{
                        color: $colorNavyAside;
                    }
                    .nav-link:hover{
                        background-color: $colorFondoNavHover;
                        color: $colorLetrasTitulo;
                    }
                }
            }
            form{
                .form-control{
                    border:solid 1px $colorBuscador;
                }
                .btn-outline{
                    background: $colorBuscador;
                    color:$colorLetrasTitulo;
                }
                .btn-outline:hover{
                    background-color: $colorLetrasTitulo;
                    color: $colorBuscador;
                }
            }
        }
    }
}




/*--INDEX--*/
.section{
    grid-area: section;
}
.contenedor{
    grid-area: contenedor;
}

.contenedor-logo{
    @include flex;
    flex-direction: column;
    img {
        width: ($anchoConPorcentaje/10);
        @include border (50%);
    }
    h1{
        @include alingTex;
        width: $anchoConPorcentaje;
        height: $altoConPx/10 ;
        background-color: $colorFondoTitulo;
        color: $colorLetrasTitulo;
        @include tamaño(2rem);
        @include margin(20px,5px,0px,0px);
        @include padding(5px,0px,0px,0px);
    }    
}

aside {
    @include margin (40px,0px,0px,0px);
    @include padding (10px,10px,10px,10px);
    background-color: $colorFondoAside;
    h2 {
        @include tamaño(20px);
        font-family:$tipoDeLetraConte;
        @include alingTex;
        color: $colorLetraTituInicio;
        background-color: $colorFondoTituInicio;
        padding: 8px;
    }
    p {
        @include tamaño(18px);
        color: $colorLetraParrafo;
        font-family: $tipoDeLetraConte;
    }
    div{
        .boton {
            font-family:$tipoDeLetraConte;
            background-color: $colorLetrasTitulo;
            border:solid 1px $colorNavyAside;
            color: $colorNavyAside;
        }
        .boton:hover{
            background-color: $colorNavyAside;
            border: solid 5px $colorLetrasTitulo;
        }
    }
}

/*AQUI QUIEN SOY*/

#texto {
    @include margin(3%,0,0,0);
    background: linear-gradient(transparent , $colorGradientFondoCuadro ,transparent );

}
#titulo {
    @include alingTex;
    @include tamaño(35px);
    color: $colorLetraParrafoQuienS;
    text-decoration: underline currentColor ;
    grid-area: titulo;
    font-family: $tipoDeLetraConte;
}
#parrafo {
    @include alingTex;
    color: $colorLetraParrafoQuienS;
    @include margin(1%,0,0,0);
    @include tamaño(23px);
    grid-area: parrafo;
    font-family: $tipoDeLetraConte;
}

/*AQUI PUNTO DE VENTA*/
#ubicacion {
    width: ($anchoConPx/5)*4 ;
    height: ($altoConPx)-100px ;
    @include margin(2%,2%,35%,0);
}
.subtitu {
    @extend #ubicacion;
    background: $colorFondoTituloUbi ;
    color: $colorLetraTituloUbi ;
    @include tamaño(22px);
    @include alingTex;
}

/*AQUI PRODUCTOS*/
#title {
    background: $colorFondoTituloProductos;
    color: $colorLetraTituloProductos;
    @include tamaño(35px);
    @include alingTex;
}
.cont-productos{
    border: solid 5px $colorBordeConteProd;
    @include margin (4%,0,0,0);
    color: $colorLetrasProductos;
    font-family: $tipoDeLetraConte;
    .row{
        div{
            .card{
                @include margin (4%,3%,0,0);
                .row{
                    .img-producto{
                        width:60%;
                        height: 50%;
                        @include margin (2%,0,20%,0);
                    }
                }
            }
        }
    }
}

.card-title{
    @include subrayado;
}
/*--CONTACTO--*/
.container{
    .row{
        .conte-formu{
            @include margin (4%,10%,0,0);
            background:$colorFondoFormu;
            font-family: $tipoDeLetraConte;
            fieldset{
                color:$colorLetrasFormu;
                div{
                    legend{
                        @include subrayado;
                    }
                }
                div{
                    @include margin(2%,0,0,0);
                    input{
                        border: solid 2px $colorFondoTituloContacto;
                    }
                    #emailHelp{
                        color:$colorLetrasAviso;
                    }
                }
                div{
                    @include margin(2%,3%,0,0);
                    label{
                        @include margin(0,0,0,2%);
                    }
                    select{
                        color:$colorLetrasInternasCuadro;
                    }
                }
                div{
                    textarea{
                        color:$colorLetrasInternasCuadro;
                    }
                }
                .botones-formu{
                    button{
                        background-color: $colorBotonesFormu;
                        border:solid 2px $colorBotonesFormu;
                    }
                }
            }
        }
    }
}

/*footer*/

//    MAP
$footer:(
    f-wrap: wrap,
    just-cont: space-evenly,
    color:$colorFondoFooter,
    colorLetras: $colorLetraFooter,
    colorFondLog:$colorFondoLogFooter,
    colorLog:$colorLogoFooter,
);

.footer{
    @include flex;
    @include margin(30px,0,0,0);
    justify-content: map-get($footer,just-cont);
    flex-wrap: map-get($footer,f-wrap);
    width: $anchoConPorcentaje;
    height: ($altoConPx)-150px;
    background-color: map-get($footer,color);

    grid-area: footer;

}
-----logosCard-------
.footer-pagos{
    width: $anchoConPorcentaje/5 ;
    color: map-get($footer,colorLetras);

    grid-area: pagos;
    h3{
        @include tamaño(1.5rem);
        @include alingTex;
    }
    ul{
        @include flex;
        flex-direction: row;
        justify-content: map-get($footer,just-cont);
        @include margin(30px,0,0,0);
        li{
            list-style: none;
            @include border (50%);
            background-color: map-get($footer,colorFondLog);
            width: ($anchoConPx/10)+10;
            height: ($altoConPx)-340px;
            justify-content: center;
            @include flex;
            a{
                @include tamaño(2rem);
                color: map-get($footer,colorLog);
            }
        }
    }
}

---logosRedes-------

.footer-redes{
    height: $altoAuto;
    width: $anchoConPorcentaje/5;
    color: map-get($footer,colorLetras);

    grid-area: redes;
    h3{
        @include tamaño(1.5rem);
        @include alingTex;
    }
    ul{
        @include flex;
        flex-direction: row;
        justify-content: map-get($footer,just-cont);
        @include margin(30px,0,0,0);
        li{
            @include flex;
            list-style: none;
            @include border (50%);
            background-color: map-get($footer,colorFondLog);
            width: ($anchoConPx/10);
            height: ($altoConPx)-350px;
            justify-content: center;
            a{
                @include tamaño(2rem);
                color: map-get($footer,colorLog);
                transition: .5s;
                &:hover{
                    transform: scale(1.2);
                }
            }
        }
    }
}
.footer-redes ul li a:hover{
    transform: scale(1.2);
}

---logosNumber-------

.footer-number{
    color: map-get($footer,colorLetras);
    @include tamaño(1.5rem);

    grid-area: num;
}

/*=========MEDIAQUERIES=======*/

@media screen and (min-width:320px) {
.body{
    grid-template-columns: auto auto auto;
    grid-template-rows: auto  auto auto;
    grid-template-areas: 
        "contenedor contenedor contenedor"
        "section section section"
        "footer footer footer";
}

/*INDEX*/
.contenedor-logo {
    img{
        width: ($anchoConPx/5)-10;
    }
    h1{
        margin: 3px;
        @include tamaño(20px);
    }
}

/*CONTACTO*/
.title-form {
    display:inline-block;
    @include alingTex;
    @include margin(12%,0,10%,10%);
    background-color: $colorFondoTituloContacto;
    color: $colorLetraTituloContacto;
    @include tamaño(18px);
}


label {
    @include margin(1%,0,0,0);
}

/*QUIÉN SOY*/
#texto {
    border: 3px solid $colorBordeCuadro;
    display: grid ;
    grid-template-columns: auto;
    grid-template-rows: 2fr 4fr;
    grid-template-areas: "titulo" "parrafo";
    width: ($anchoConPorcentaje)-20;
    @include margin(0,0,10%,0);
    padding: 3%;
}

/*====UBICACION=====*/
#ubicacion{
    width: ($anchoConPorcentaje)-10;
    height: ($altoConPorcentaje)-20%;
    margin: auto;
    overflow: hidden;
    .iframe{
        width: $anchoConPorcentaje;
        height: $altoConPorcentaje;
        iframe{
            width: $anchoConPorcentaje;
            height: $altoConPorcentaje;
        }
    }
}





/*footer*/
.footer{
    height: ($altoConPx)-100px;
    color: $colorLetraFooter;
    @include margin(0,50px,0,0);
    display: grid;
    grid-auto-columns: repeat(1,1fr);
    grid-template-rows:repeat(3,1fr);
    grid-template-areas: 
        "num "
        "pagos "
        "redes ";
        ul{
            @include margin(5px,0,0,0);
            li{
                width: ($anchoConPx/10)-20 ;
                height: ($altoConPx)-370px;
                a{
                    @include tamaño(15px);
                }
            }
        }
}

//logos pagos

.footer-pagos{
    width: $anchoAuto;
    color: $colorLetraFooter;

    grid-area: pagos;
    h3{
        @include tamaño(1.5rem);
        @include alingTex;
    }
    ul{
        @include flex;
        flex-direction: row;
        justify-content: space-evenly;
        @include margin(30px,0,0,0);
        li{
            list-style: none;
            @include border (50%);
            background-color: $colorFondoLogFooter;
            width: ($anchoConPx/10)-10;
            height: ($altoConPx)-360px;
            justify-content: center;
            @include flex;
            a{
                @include tamaño(1rem);
                color: $colorLogoFooter;
            }
        }
    }
}

//logos redes

.footer-redes{
    height: $altoAuto;
    width: $anchoAuto;
    color: $colorLetraFooter;

    grid-area: redes;
    h3{
        @include tamaño(1.5rem);
        @include alingTex;
    }
    ul{
        @include flex;
        flex-direction: row;
        justify-content: space-evenly;
        @include margin(30px,0,0,0);
        li{
            @include flex;
            list-style: none;
            @include border (50%);
            background-color: $colorFondoLogFooter;
            width: ($anchoConPx/10)-20;
            height: ($altoConPx)-360px;
            justify-content: center;
            a{
                @include tamaño(1rem);
                color: $colorLogoFooter;
                transition: .5s;
                &:hover{
                    transform: scale(1.2);
                }
            }
        }
    }
}
.footer-number p{
    @include alingTex;
}

/*PRODUCTOS*/
#title {
    @include margin(12%,0,0,0);
    @include tamaño(20px);
}
.cont-productos{
    @include margin(5%,10%,0,0);
}
}


/*========================================================*/
/*========================================================*/
/*========================================================*/
/*========================================================*/


@media  screen and (min-width:1000px) {
.contenedor-logo{
    @include margin(20px,0,0,0);
    img {
        width: ($anchoConPx/5)+50px ;
    }
}

/*QUIÉN SOY*/
#texto {
    border: 5px solid $colorBordeCuadro;
    display: grid ;
    grid-template-columns: auto;
    grid-template-rows: 2fr 4fr;
    grid-template-areas: "titulo" "parrafo";
    width: ($anchoConPorcentaje/2)+30% ;
    @include margin(0,0,20%,0);
    padding: 3%;
}

/*CONTACTO*/
.title-form {
    display:inline-block;
    @include alingTex;
    @include margin(8%,0,25%,0);
    background-color: $colorFondoTituloContacto;
    color: $colorLetraTituloContacto;
    @include tamaño(24px);
}
label {
    @include margin(1%,0,0,0);
}

/*footer*/
.footer{
    @include flex;
    @include margin(30px,0,0,0);
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: $anchoConPorcentaje;
    height: ($altoConPx)-270px ;
    background-color: $colorFondoFooter;
}
/*logosCard-------*/
.footer-pagos{
    width: ($anchoConPorcentaje/5) ;
    color: $colorLetraFooter;
    h3{
        @include tamaño(1.5rem);
        @include alingTex;
    }
    ul{
        @include flex;
        flex-direction: row;
        justify-content: space-evenly;
        @include margin(30px,0,0,0);
        li{
            @include flex;
            list-style: none;
            @include border (50%);
            background-color: $colorFondoLogFooter;
            width: ($anchoConPx)-440px ;
            height: ($altoConPx)-340px;
            justify-content: center;
            a{
                @include tamaño(2rem);
                color: $colorLogoFooter;
            }
        }
    }
}

/*logosRedes-------*/
.footer-redes{
    height: $altoAuto;
    width: $anchoConPorcentaje/5 ;
    color: $colorLetraFooter;
    h3{
        @include tamaño(1.5rem);
        @include alingTex;
    }
    ul{
        @include flex;
        flex-direction: row;
        justify-content: space-evenly;
        @include margin(30px,0,0,0);
        li{
            @include flex;
            list-style: none;
            @include border (50%);
            background-color: $colorFondoLogFooter;
            width: ($anchoConPx/10) ;
            height: ($altoConPx)-350px;
            justify-content: center;
            a{
                @include tamaño(2rem);
                color: $colorLogoFooter;
                transition: .5s;
                &:hover{
                    transform: scale(1.2);
                }
            }
        }
    }
}

/*logosNumber-------*/
.footer-number {
    color: $colorLetraFooter;
    @include tamaño(1.5rem);
}

#ubicacion{
    width: ($anchoConPorcentaje/2);
    height:($altoConPorcentaje)-20%;
    margin: auto;
    overflow: hidden;
    .iframe{
        width: $anchoConPorcentaje;
        height: $altoConPorcentaje;
        iframe{
            width: $anchoConPorcentaje;
            height: $altoConPorcentaje;
        }
    }
}
}