//colores

$colorFondoTituloContacto: white;
$colorLetraTituloContacto: #b69696;
$colorLetrasFormu:rgb(77, 26, 26);
$colorFondoFormu:rgba(223, 157, 157, 0.7);
$colorLetrasInternasCuadro: rgb(172, 165, 165);
$colorLetrasAviso:rgb(136, 132, 132);
$colorBotonesFormu:#dd7a7a;
