//estilos repetidos en todas las paginas.

//colores
$colorFondoTitulo: #EE9898;
$colorLetrasTitulo: white;
$colorFondoFooter: #faebd7;
$colorFondoLogFooter: #EE9898;
$colorLetraFooter: #B1ACAC;
$colorLogoFooter: white;
$colorFondoNavHover:#F3D0D0;
$colorNavyAside:#DA9191;
$colorBuscador:#ecafaf;

//letra
$tipoDeLetra: cursive;
$tipoDeLetraConte:'Recursiva', sans-serif;

//ancho
$anchoConPx: 500px;
$anchoConPorcentaje: 100%;
$anchoAuto: auto;

//alto
$altoConPx: 400px;
$altoConPorcentaje: 100%;
$altoAuto: auto;

